@amarillo: #d3d93b;
@rojo: #d11b73;
@verde: #26ed47;

.margenes(@top: 0px, @bottom: 0px){
  margin-top: @top;
  margin-bottom: @bottom;
}

.jumbotron {
  background-color: @amarillo;
  color: black;
  .margenes(50px, 0px);
}

footer {
  padding: 10px 10px 0 10px;
  background-color: @rojo;
  .margenes(10px, 0px);
}

.card-hotel {
  flex: 1 300px;
  .margenes(10px, 0px);
}

.btn-reserva {
  width: 100%;
  border-radius: 0px;
  background-color: @verde;
}
