.jumbotron {
  background-color: #d3d93b;
  color: black;
  margin-top: 50px;
  margin-bottom: 0px;
}
footer {
  padding: 10px 10px 0 10px;
  background-color: #d11b73;
  margin-top: 10px;
  margin-bottom: 0px;
}
.card-hotel {
  flex: 1 300px;
  margin-top: 10px;
  margin-bottom: 0px;
}
.btn-reserva {
  width: 100%;
  border-radius: 0px;
  background-color: #26ed47;
}
