$amarillo: #d3d93b;
$rojo: #d11b73;
$verde: #26ed47;

@mixin margenes($top, $bottom){
  margin-top: $top;
  margin-botton: $bottom;
}

.jumbotron {
  background-color: $amarillo;
  color: black;
  @include margenes(50px, 0px);
}

footer {
  padding: 10px 10px 0 10px;
  background-color: $rojo;
  @include margenes(10px, 0px);
}

.card-hotel {
  flex: 1 300px;
  @include margenes(10px, 0px);
}

.btn-reserva {
  width: 100%;
  border-radius: 0px;
}
